html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white {
    color: white;
    stroke: white;
}
h1, h2, p {
    margin: 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
p, ul {
    font-size: 2rem;
    margin: 0.4rem;
}

svg {
    width: 3rem;
}
.row-container {
    display: flex;
    flex-direction: row;
}
.column-container {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 95vw;
    left: 1vw;
    right: 1vw;
    margin: 0.4% auto;
    background-color: rgba(51, 50, 50, 0.329);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    z-index: 1;
}
header img {
    width: 8rem;
}
header nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
header nav a {
    align-items: center;
}
header nav a p, header section p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
header section{
    align-items: center;
}
.home {
    background: linear-gradient(rgba(22, 22, 22, 0.473) 80%, rgb(33, 9, 43)), url(../assets/overview-sementara.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.home h2, .home p {
    margin-left: 25%;
}
.home h2 span {
    font-size: 8rem;
}
.home p {
    margin-left: 25%;
}
.about {
    padding: 15% 40%;
    text-align: center;
    background-color: rgb(33, 9, 43);
}

.list-games {
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 9, 43);
    padding: 8%;
}
.list-games div {
    padding-top: 4%;
    gap: 50px;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
}
.list-games div article {
    background: radial-gradient(circle, rgba(0, 212, 255, 0.4) 0%, rgba(33, 9, 43, 1) 100%);
    text-align: center;
    min-width: 32rem;
    max-width: 35rem;
    border-radius: 1rem;
    border: 1px solid rgb(49, 55, 73);
    padding: 1%;
}
.list-games div article img {
    width: 28rem;
    padding: 5%;
}
.games {
    padding-bottom: 100vh;
}
footer {
    background-color: black;
    padding: 0.11rem;
    text-align: center;
}
@media only screen and (max-width: 2304px) {
    svg {
        width: 2rem;
    }
    .about {
        padding: 15% 30%;
    }
}
@media only screen and (max-width: 1228px) {
    .home h2, .home p {
        margin-left: 15%;
    }
    .about {
        padding: 15% 20%;
    }
    .list-games div article {
        min-width: 25rem;
        max-width: 28rem;
    }
    .list-games div article img {
        width: 22rem;
    }
}
@media only screen and (max-width: 980px) {
    svg {
        width: 1.5rem;
    }
    header img {
        width: 6rem;
    }
    header nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    h1, h2, p {
        margin: 0;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    p, ul {
        font-size: 1rem;
        margin: 0.4rem;
    }
    .home h2 span {
        font-size: 5rem;
    }
    .list-games div article {
        min-width: 15rem;
        max-width: 18rem;
    }
    .list-games div article img {
        width: 12rem;
    }
    .about {
        padding: 15% 30%;
    }
}
@media only screen and (max-width: 712px) {
    header nav {
        padding-left: 35%;

    }
    header img {
        display: none;
    }
    .about {
        padding: 15% 10%;
    }
}
