html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white {
    color: white;
}
h1, h2, p {
    margin: 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
}
p, ul {
    font-size: 2rem;
    margin: 0.4rem;
}
a {
    text-decoration: none;
}
.home {
    background: linear-gradient(rgba(22, 22, 22, 0.473) 80%, rgb(33, 9, 43)), url(../assets/overview-sementara.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
.home h2, .home p {
    margin-left: 25%;
}
.home h2 span {
    font-size: 8rem;
}
.home p {
    margin-left: 25%;
}
.about {
    padding: 15% 40%;
    text-align: center;
    background-color: rgb(33, 9, 43);
}

.list-games {
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 9, 43);
    padding: 8%;
}
.list-games div {
    padding-top: 4%;
    gap: 50px;
    width: 90vw;
    justify-content: center;
    flex-wrap: wrap;
}
.list-games div article {
    background: radial-gradient(circle, rgba(0, 212, 255, 0.4) 0%, rgba(33, 9, 43, 1) 100%);
    text-align: center;
    min-width: 32rem;
    max-width: 35rem;
    border-radius: 1rem;
    border: 1px solid rgb(49, 55, 73);
    padding: 1%;
}
.list-games div article img {
    width: 28rem;
    height: 15rem;
    padding: 5%;
}
.games {
    padding-bottom: 100vh;
}
footer {
    background-color: black;
    padding: 0.11rem;
    text-align: center;
}
@media only screen and (max-width: 2304px) {
    .about {
        padding: 15% 30%;
    }
}
@media only screen and (max-width: 1228px) {
    .home h2, .home p {
        margin-left: 15%;
    }
    .about {
        padding: 15% 20%;
    }
    .list-games div article {
        min-width: 25rem;
        max-width: 28rem;
    }
    .list-games div article img {
        width: 22rem;
        height: 11rem;
    }
}
@media only screen and (max-width: 980px) {
    h1, h2, p {
        margin: 0;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    p, ul {
        font-size: 1rem;
        margin: 0.4rem;
    }
    .home h2 span {
        font-size: 5rem;
    }
    .list-games div article {
        min-width: 15rem;
        max-width: 18rem;
    }
    .list-games div article img {
        width: 12rem;
        height: 6rem;
    }
    .about {
        padding: 15% 30%;
    }
}
@media only screen and (max-width: 712px) {
    .about {
        padding: 15% 10%;
    }
}
