@font-face {
    font-family: "start 2p";
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white {
    color: white;
}
.yellow-dark {
    color: rgb(212, 175, 55)
}
a {
    text-decoration: none;
}
body {
    background-color: #270D01;
}
main {
    min-height: 100vh;
    font-family: cursive;
}
footer {
    background-color: black;
    padding: 0.11rem;
    text-align: center;
    color: white;
}
main {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, p {
    margin: 0;
}
h1, h2 {
    color: rgb(212, 175, 55);
    text-shadow: 3px 3px 3px rgb(240, 105, 71);
    font-family: "start 2p";
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
}
p, ul {
    font-size: 1.5rem;
    margin: 0.4rem;
}
a {
    text-decoration: none;
}
button {
    background-color: #b08d57;
    color: white;
    border-radius: 0.4rem;
}
button:hover {
    box-shadow: 0 0 10px rgb(80, 143, 114) ;
}
button:active {
    transform: scale(0.97);
    background: #b08c57a1;
    box-shadow: inset 0 0 5px rgba(80, 143, 114, 0.3);
}
.border-board{
    border: 1px solid rgb(176, 141, 87);
    width: 23rem;
    text-align: center;
    padding: 1%;
}
.border-player, .border-computer {
    border: 1px solid rgb(176, 141, 87);
    width: 3rem;
    text-align: center;
    padding: 1%;
}
.scoreboard {
    padding-top: 1%;
    gap: 10px;
}
#btnchoices, #maxscore, #btnstart, #result {
    margin-top: 1%;
}
#finalresult {
    margin-top: 5%;
}
#btnchoices {
    width: 90vw;
    text-align: center;
}
#player {
    border-radius: 1rem;
}
#handcontainer, #finalresult {
    padding-top: 2%;
    gap: 60px;
}
#handplayer, #handcomputer{
    background-image: url('../assets/rock.png');
    width: 12rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
}
#handcomputer {
    transform: scaleX(-1);
}
#maxscore {
    width: 8rem;
    height: 2rem;
    text-align: center;
    background-color: #b08d57;
    color: #f0e5d8;
}
.imgbtnchoices {
    width: 4rem;
}
.howplay {
    background-color: rgb(116, 17, 17);
    margin-top: 2%;
    padding: 1% 2%;
    text-align: center;
    /* border: solid black 1px; */
    border-radius: 1rem;
    box-shadow: 8px 8px 0 rgb(122, 90, 71);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.howplay:hover {
    transform: scale(0.99);
    box-shadow: 4px 4px 0 rgb(122, 90, 71);
}
.howplay h2 {
    margin: 2% 0;
}
.howplay ol {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 80%;
    text-align: justify;
    list-style-position: inside;
}
.leaderboard h2 {
    margin: 6% 0;
}
.leaderboard table {
    background-color: rgb(116, 17, 17);
    min-width: 15rem;
    /* border: solid black 1px; */
    text-align: center;
    box-shadow: 6px 6px 0 rgb(122, 90, 71);
    padding: 4%;
    border-spacing: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.leaderboard table:hover {
    transform: scale(0.99);
    box-shadow: 4px 4px 0 rgb(122, 90, 71);
}
td {
    border-top: 1px solid #000000;
}
@media only screen and (max-width: 1228px) {
    h1 {
        font-size: 3rem;
        padding-top: 2%;
    }
    h2 {
        font-size: 2rem;
    }
    p, ul {
        font-size: 1rem;
        margin: 0.4rem;
    }
}
@media only screen and (max-width: 980px) {
    h1, h2, p {
        margin: 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    p, ul {
        font-size: 0.5rem;
        margin: 0.4rem;
    }
    #handplayer, #handcomputer{
        width: 10rem;
        height: 8rem;
    }
    .border-board{
        width: 16rem;
    }
    .howplay {
        width: 25rem;
    }
}
@media only screen and (max-width: 712px) {
    main {
        text-align: center;
        padding-top: 20%;
    }
    #handplayer, #handcomputer{
        width: 6rem;
        height: 5rem;
    }
    .border-board{
        width: 8rem;
    }
    .scoreboard.row-container {
        flex-direction: column;
        align-items: center;
    }
    .scoreboard .border-computer {
        order: 2;
    }
    .scoreboard .border-computer + .border-board {
        order: 1;
    }
    .howplay {
        width: 18rem;
    }
}