@font-face {
    font-family: "start 2p";
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
html,body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white {
    color: white;
}
a {
    text-decoration: none;
}
body {
    /* #270D01 */
    /* background-image: linear-gradient(180deg, #74EBD5 0%, #9FACE6 50%, #ebd5df 100%); */
    /* background: linear-gradient(180deg, #270D01 0%, #442d25 50%, #6d5735 100%); */
    background-color: #270D01;
}
main {
    min-height: 100vh;
    font-family: cursive;
}
footer {
    background-color: black;
    padding: 0.11rem;
    text-align: center;
    color: white;
}
main {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, p {
    margin: 0;
}
h1, h2 {
    color: rgb(212, 175, 55);
    text-shadow: 3px 3px 3px rgb(240, 105, 71);
    font-family: "start 2p";
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.5rem;
}
p, ul {
    font-size: 1.5rem;
    margin: 0.4rem;
}
a {
    text-decoration: none;
}
.column-container {
    display: flex;
    flex-direction: column;
}
.row-container {
    display: flex;
    flex-direction: row;
}
svg {
    width: 3rem;
    fill: rgb(255, 145, 77);
    stroke: rgb(201, 253, 6);
}
button {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.2%;
    background-color: rgb(176, 141, 87);
    color: rgb(240, 229, 216);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 95vw;
    left: 1vw;
    right: 1vw;
    margin: 0.4% auto;
    background-color: rgba(51, 50, 50, 0.329);
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    z-index: 1;  
}
header img {
    width: 8rem;
}
header nav {
    gap: 60px;
    text-align: center;
}
header nav a {
    align-items: center;
}
header nav a p, header section p {
    font-size: 1rem;
    color: rgb(255, 145, 77);
    -webkit-text-stroke: 0.2px rgb(201, 253, 6);
    margin: 0;
    padding: 0;
}
header section{
    align-items: center;
}
.border-board{
    border: 1px solid rgb(176, 141, 87);
    width: 23rem;
    text-align: center;
    padding: 1%;
}
.border-player, .border-computer {
    border: 1px solid rgb(176, 141, 87);
    width: 3rem;
    text-align: center;
    padding: 1%;
}
.scoreboard {
    padding-top: 1%;
    gap: 10px;
}
#btnchoices, #maxscore, #btnstart, #result {
    margin-top: 1%;
}
#finalresult {
    margin-top: 5%;
}
#btnchoices {
    width: 90vw;
    text-align: center;
}
#handcontainer, #finalresult {
    padding-top: 2%;
    gap: 60px;
}
#handplayer, #handcomputer{
    background-image: url('../assets/rock.png');
    width: 12rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
}
#handcomputer {
    transform: scaleX(-1);
}
#maxscore {
    width: 8rem;
    height: 2rem;
    text-align: center;
    background-color: #b08d57;
    color: #f0e5d8;
}
.imgbtnchoices {
    width: 4rem;
}
@media only screen and (max-width: 2304px) {
    svg {
        width: 2rem;
    }
    header img {
        width: 6rem;
    }
}
@media only screen and (max-width: 1228px) {
    h1 {
        font-size: 3rem;
        padding-top: 2%;
    }
    h2 {
        font-size: 2rem;
    }
    p, ul {
        font-size: 1rem;
        margin: 0.4rem;
    }
}
@media only screen and (max-width: 980px) {
    svg {
        width: 1.5rem;
    }
    header img {
        width: 4rem;
    }
    header nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    h1, h2, p {
        margin: 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    p, ul {
        font-size: 0.5rem;
        margin: 0.4rem;
    }
    #handplayer, #handcomputer{
        width: 10rem;
        height: 8rem;
    }
    .border-board{
        width: 16rem;
    }
    
}
@media only screen and (max-width: 712px) {
    header nav {
        padding-left: 35%;

    }
    header img {
        display: none;
    }
    main {
        text-align: center;
        padding-top: 20%;
    }
    #handplayer, #handcomputer{
        width: 6rem;
        height: 5rem;
    }
    .border-board{
        width: 8rem;
    }
    .scoreboard {
        flex-direction: column;
        align-items: center;
    }
    .scoreboard .border-computer {
        order: 2;
    }
    .scoreboard .border-computer + .border-board {
        order: 1;
    }
}


